{% extends 'app/base.html' %}
{% load static %}
{% block title %}Address{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile'%}" class="btn btn-primary">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address'%}" class="btn btn">Address</a></li>
            </ul>
        </div>

{% endblock main-content %}